body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.instant .MuiLinearProgress-bar {
    transition: none;
}

.the_wheel {
    background-image: url('assets/wheel_back.png');
    background-position: center;
    background-repeat: no-repeat;
}

.the_canvas {
    padding-top: 6px;
}